html{
    box-sizing: border-box;
}
*, ::before, ::after{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: clamp(1rem, 5vw, 2.75rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bg-color);
}

:root{
    --bg-color:hsl(0, 0%, 8%)
}

/* Card */
.card{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: hsl(0, 0%, 12%);
    width: 90%;
    max-width: 375px;
    padding: clamp(0.9rem, 5vw, 2rem);
    text-align: center;
    border-radius: 0.7rem;
}

img{
    border-radius: 7rem;
    width: 100%;
    max-width: 120px;
}

h1{
    color: hsl(0, 0%, 100%);
    font-size: 20px;
}

h4{
    margin-top: 0;
    color: hsl(75, 94%, 57%);
    font-weight: 800;
}

p{
    color: hsl(0, 1%, 60%);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    margin-top: 0;
}

.card a{
    text-decoration: none;
    color: var(--bg-color);
    margin: 0.4rem;
    background-color: hsl(0, 0%, 20%);
    padding: 0.8rem;
    border-radius: 0.5rem;
    width: 100%;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    transition: 0.5s;
}
.card a:focus, .card a:hover{
    background-color: hsl(75, 94%, 57%);
    color: var(--bg-color);
    outline: 2px solid var(--bg-color);
}

@media (prefers-reduced-motion: reduce){
    .card a:focus, .card a:hover{
        transition: none;
    }
}